In [3]:
import pandas as pd

Задание 1

In [76]:
movie_ratings = pd.read_csv('ratings.csv')

In [77]:
movies = pd.read_csv('movies.csv')

In [78]:
movies_data = movie_ratings.merge(movies, on=["movieId"])

In [79]:
movies_data.sort_values(by=['userId', 'movieId', 'timestamp'], ascending=[True, True, True], inplace=True)

In [80]:
movie_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [82]:
def movie_rating(column):
    if column < 2:
        return 'низкий рейтинг'
    elif 2 < column < 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [83]:
movies_data['class'] = movies_data['rating'].apply(movie_rating)

In [85]:
movies_data.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
42,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
84,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
117,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,высокий рейтинг
165,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,высокий рейтинг

Задание 2

In [86]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
    
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [87]:
requests = pd.read_csv('keywords.csv')

In [88]:
requests.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [89]:
def data_towns():
    all_towns = []
    [all_towns.extend(loc) for loc in geo_data.values()]
    return all_towns

In [91]:
def geo_mark(column):
    meaning = check_request(column)
    if meaning == 1:
        for region in geo_data:
            for town in geo_data[region]:
                if town in column:
                     return region
    else:
        return 'undefined'

In [90]:
'''Проферяет наличие наименования города в запросе '''
def check_request(column):
    tr = []
    for town in data_towns():
        if town in column:
            c = True
            tr.append(c)
        else:
            c = False
            tr.append(c)
    return sum(tr)

In [92]:
requests['region'] = requests['keyword'].apply(geo_mark)

In [93]:
requests.sort_values(by=['region'], ascending=False).head()

                      keyword  shows region
62723  погода москва на 3 дня   6964  Центр
74546        суперджоб москва   4780  Центр
96988   спартак москва футбол   5273  Центр
15616         avito ru москва  18981  Центр
34784     яндекс карты москва  10795  Центр

In [94]:
requests.region.value_counts()

undefined         99255
Центр               385
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3

In [4]:
ratings2016 = pd.read_csv('ratings2016.csv')

In [5]:
movies2016 = pd.read_csv('movies2016.csv')

In [7]:
from datetime import datetime

In [31]:
def production_year(column):
    years = list(range(1950, 2011))
    try:
        y = datetime.strptime( column.split()[-1], '(%Y)' )
        if y.year in years:
            return str(y.year)
        else:
            return '1900'
    except:
        return '1900'

In [33]:
movies2016['year'] = movies2016['title'].apply(production_year)

In [36]:
movies_data2016 = ratings2016.merge(movies2016, on=["movieId"])

In [49]:
movies_data2016.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy,1995
1,5,2,3.0,851527569,Jumanji (1995),Adventure|Children|Fantasy,1995
2,13,2,3.0,849082742,Jumanji (1995),Adventure|Children|Fantasy,1995
3,29,2,3.0,835562174,Jumanji (1995),Adventure|Children|Fantasy,1995
4,34,2,3.0,846509384,Jumanji (1995),Adventure|Children|Fantasy,1995

In [74]:
movies_data2016.groupby('year').mean()['rating'].sort_values(ascending=False)

year
1957    4.000399
1954    3.990345
1972    3.953387
1962    3.950847
1952    3.935292
          ...
1998    3.429479
2000    3.412863
1990    3.409707
1997    3.376945
1996    3.351762
Name: rating, Length: 62, dtype: float64

$**